<div class="d2c-table-container" data-component="data-table" data-semantic-id="users.management.table" id="table-container">
  <table class="d2c-table" id="users-table">
    <thead class="d2c-table-thead">
      <tr>
        <th class="d2c-th">用户姓名</th>
        <th class="d2c-th">企业邮箱</th>
        <th class="d2c-th">系统角色</th>
        <th class="d2c-th">状态</th>
        <th class="d2c-th">创建时间</th>
        <th class="d2c-th">操作</th>
      </tr>
    </thead>
    <tbody class="d2c-table-tbody" id="users-table-tbody">
      <!-- Injected by state.js -->
    </tbody>
  </table>
</div>