<section class="d2c-toolbar-region" id="region-toolbar">
  <div class="d2c-toolbar-left">
    <div class="d2c-search-box" data-component="filter-search" data-semantic-id="users.management.search_input">
      <input type="search" id="input-search" class="d2c-input d2c-input-search" placeholder="按姓名或角色搜索..." autocomplete="off" />
    </div>
  </div>
  <button type="button" class="d2c-btn d2c-btn-primary" id="btn-create-user" data-component="button" data-semantic-id="users.management.create_btn">
    新建用户
  </button>
</section>